node_modules
node_modules_
.idea
tmp
/config
/.idea
/public/build.js
/public/build.js.map

/server/config/local.js
/server/config/prod.js
/server/config/hx.js
/server/config/hd2.js
/server/config/uat.js
/server/config/web.js
/server/config/app.js
/server/config/test.js
/server/config/test51.js
/server/config/test52.js
/server/config/test53.js
/server/config/test54.js
/server/config/pm2.config.js